<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Socket.IO chat</title>
  <style>
    body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

    #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
    #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
    #input:focus { outline: none; }
    #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages > li { padding: 0.5rem 1rem; }
    #messages > li:nth-child(odd) { background: #efefef; }

    #login {background-color: aquamarine;}
    #login table {display: inline;}
    #login button {text-align:center;padding-top:5px;width:100px}
  </style>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script>


    window.onload = function() {

      const socket = io("http://localhost:3000",{
        cors: { origin: '*' }
      });

      // 로그인
      const btnLogin = document.getElementById('btnLogin');
      const inputChannel = document.getElementById('inputChannel');
      const inputUser = document.getElementById('inputUser');
      // 채팅
      const chat = document.getElementById('chat');
      const form = document.getElementById('form');
      const inputMessage = document.getElementById('inputMessage');
      const messages = document.getElementById('messages');

      // 로그인(join)
      btnLogin.addEventListener('click',(evt) => {
        socket.emit('login', {
          room : inputChannel.value,
          username : inputUser.value
        }, (response) => {
          console.log(response.status);
          if(response.status){
            chat.style.display = 'block';
            btnLogin.style.display = 'none';
          }
        });
      });

      // 메시지 받기
      socket.on('login', (msg) => {
        const item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });

      // 메시지 전송
      form.addEventListener('submit', (e) => {
        e.preventDefault();
        if (inputMessage.value) {
          const data = {
            room : inputChannel.value,
            message : inputMessage.value
          };
          socket.emit('chat message', data);
          inputMessage.value = '';
        }
      });

      // 메시지 받기
      socket.on('chat message', (msg) => {
        const item = document.createElement('li');
        item.textContent = '[' + msg.username + ']' + msg.message;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    }
  </script>
</head>
<body>

<div id="login">
  <table>
    <tr><td>채널명</td><td><input id="inputChannel" autocomplete="off" /></td></tr>
    <tr><td>이름</td><td><input id="inputUser" autocomplete="off" /></td></tr>
  </table>
  <button type="button" id="btnLogin">login</button>
</div>

<div id="chat" style="display: none">
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="inputMessage" autocomplete="off" style="width:80%" /><button>Send</button>
  </form>
</div>

</body>
</html>